.toast-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 30dvw;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.toast {
  --toast-color: var(--border);
  background-color: var(--background-white);
  padding: 0.7em 0.9em;
  border-left: 4px solid var(--toast-color);
  border-bottom: 4px solid var(--toast-color);
  box-shadow: 2px 3px 12px 2px rgba(0, 0, 0, 0.15);
}
.toast-container .error {
  --toast-color: rgb(170, 45, 45);
}
.toast-container .warning {
  --toast-color: rgb(173, 154, 70);
}
.toast-container .success {
  --toast-color: rgb(78, 148, 87);
}
.toast-title {
  color: var(--toast-color);
  font-weight: bold;
  font-size: 1.2em;
  margin: initial;
}
