:root {
  --cell-gap: 8px;
}
.item-container {
  display: grid;
  gap: var(--cell-gap);
  margin-top: var(--padding-top-bottom);
}
.list-item {
  border: 2px solid var(--border);
  border-radius: 14px;
  padding: 12px;
  cursor: pointer;
}
.image-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: calc(100% - 1em);
}
.image-wrapper img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.selected-item {
  border-color: var(--accent);
  box-shadow: 2px 2px 5px var(--accent-sheer);
}
/* --- Compact ---------------------------------------------------------------*/
@media screen and (width < 599px) {
  .item-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* --- Medium ----------------------------------------------------------------*/
@media screen and (600px < width < 839px) {
  .item-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* --- Expanded --------------------------------------------------------------*/
@media screen and (840px < width) {
  .item-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
