:root {
  --cell-gap: 8px;
}
.item-container {
  display: grid;
  gap: var(--cell-gap);
  margin-top: var(--padding-top-bottom);
}
/* --- Compact ---------------------------------------------------------------*/
@media screen and (width < 599px) {
  .item-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* --- Medium ----------------------------------------------------------------*/
@media screen and (600px < width < 839px) {
  .item-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* --- Expanded --------------------------------------------------------------*/
@media screen and (840px < width) {
  .item-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
