:root {
  --padding-sides: 24px;
  --padding-top-bottom: 20px;

  --border-radius: 8%;

  --background-white: #f3f3f3;
  --transparent-white: #ffffffc0;

  --foreground-base: #241f1c;
  --foreground-header: #3e4549;

  --accent: #cf2069cc;
  --accent-2: #5788a0;

  --gradient-a: #a7ccdf;
  --gradient-b: #c3e3cc;
  --gradient-c: #eae5f4;

  --border: #afafaf;
}
body {
  background: var(--gradient-b);
  background: radial-gradient(
    circle,
    var(--gradient-c) 0%,
    var(--gradient-b) 35%,
    var(--gradient-a) 100%
  );
  padding: var(--padding-top-bottom) var(--padding-sides);
}
article {
  background-color: var(--transparent-white);
}
h2 {
  margin-block: 0;
  font-size: 1em;
  color: var(--foreground-header);
}
h1 {
  font-family: "Bitter", serif;
  margin-block: 0;
  text-align: center;
  color: var(--foreground-header);
}

/* --- Compact ---------------------------------------------------------------*/
@media screen and (width < 599px) {
  :root {
    --padding-sides: 16px;
    --padding-top-bottom: 16px;
  }
}

/* --- Medium ----------------------------------------------------------------*/
@media screen and (600px < width < 839px) {
  :root {
    --padding-sides: 16px;
    --padding-top-bottom: 16px;
  }
}

/* --- Expanded --------------------------------------------------------------*/
@media screen and (840px < width) {
}
